.class1{
  border:1px solid #777;
  border-radius: 10px;
}
.col1111{
  background: rgba('252, 210, 182, 0.5');
}
.col2222{
  background: rgba('212, 180, 182, 0.5');
}
.col3333{
  background: rgba('252, 190, 136, 0.5');
}
.col4444{
  background: rgba('180, 160, 100, 0.5');
}
.col5555{
  background: rgba('198, 130, 95, 0.5');
}
.col6666{
  background: rgba('163, 250, 182, 0.5');
}

